@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

* {
  -webkit-user-select: none; /* Safari */
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

::-webkit-scrollbar { 
  display: none; 
}


html,
body {
  position: relative;
  font-family: "Spoqa Han Sans";
  font-size: 1rem;
  line-height: 1.65;
  letter-spacing: .0125em;
  color: black;
  word-break: keep-all;
}



@media screen and (max-width: 800px) {
}