@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&display=swap');

body{
  margin:0;
  padding:0;
  background-color: #c0c0c0;
  overflow-x:hidden;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar { 
  display: none; 
}


html,
body {
  position: relative;
  font-family: "Spoqa Han Sans";
  font-size: 1rem;
  line-height: 1.65;
  letter-spacing: .0125em;
  color: black;
  word-break: keep-all;
  background-color: black;
}

img{
   max-width: 100%;
  height: auto;
  display: block;
}


.url{
display: block;
width: 100%;
height: 100%;
top: 100px;

}

.url li{
  top: 100px;
  list-style-type: none;
  line-height: 30px;
  float: left;
  display: block;
  padding: 15px;
  text-align: center;
  font-family: serif;
}
